<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120068921196-v136hm4if9g5nh37lm2mfiheu41br2nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120068921196-v136hm4if9g5nh37lm2mfiheu41br2nr</string>
	<key>API_KEY</key>
	<string>AIzaSyDMd-M3OGmEJZscsuIxyvC907KaZww19Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>120068921196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GabrielMors.Swiftand</string>
	<key>PROJECT_ID</key>
	<string>swiftando-a95ae</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftando-a95ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120068921196:ios:593d376965d5562bf20549</string>
</dict>
</plist>